## Data Description

Customer ID - Unique identifier for each customer

Age - Age of the customer

Gender - Gender of the customer (Male/Female)

Item Purchased - The item purchased by the customer

Category - Category of the item purchased

Purchase Amount (USD) - The amount of the purchase in USD

Location - Location where the purchase was made

Size - Size of the purchased item

Color - Color of the purchased item

Season - Season during which the purchase was made

Review Rating - Rating given by the customer for the purchased item

Subscription Status - Indicates if the customer has a subscription (Yes/No)

Shipping Type - Type of shipping chosen by the customer

Discount Applied - Indicates if a discount was applied to the purchase (Yes/No)

Promo Code Used - Indicates if a promo code was used for the purchase (Yes/No)

Previous Purchases - The total count of transactions concluded by the customer at the store, excluding the ongoing transaction

Payment Method - Customer's most preferred payment method
Frequency of Purchases - Frequency at which the customer makes purchases (e.g., Weekly, Fortnightly, Monthly)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\india\My Python Files\shopping.xlsx")

In [3]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2677,NaN,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,NaN,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,NaN,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,NaN,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,NaN,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [4]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1.0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,13.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3.0,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4.0,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5.0,145.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [5]:
df.tail()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
2677,NaN,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,NaN,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,NaN,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,NaN,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,NaN,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             2652 non-null   float64
 1   Age                     2680 non-null   float64
 2   Gender                  2677 non-null   object
 3   Item Purchased          2678 non-null   object
 4   Category                2678 non-null   object
 5   Purchase Amount (USD)   2682 non-null   int64
 6   Location                2680 non-null   object
 7   Size                    2682 non-null   object
 8   Color                   2678 non-null   object
 9   Season                  2679 non-null   object
 10  Review Rating           2680 non-null   float64
 11  Subscription Status     2680 non-null   object
 12  Shipping Type           2682 non-null   object
 13  Discount Applied        2675 non-null   object
 14  Promo Code Used         2675 non-null   object
 15  Previous Purchases      2682 non-null   int64
 16  Payment Method          2678 non-null   object
 17  Frequency of Purchases  2679 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 377.3+ KB

In [7]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,2652.000000,2680.000000,2682.000000,2680.000000,2682.000000
mean,1326.500000,44.293657,59.507084,3.844851,25.692767
std,765.710781,16.434560,23.824442,4.344769,14.346421
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,663.750000,31.000000,38.000000,3.100000,14.000000
50%,1326.500000,44.000000,60.000000,3.800000,26.000000
75%,1989.250000,57.000000,80.000000,4.400000,38.000000
max,2652.000000,333.000000,100.000000,224.900000,50.000000

In [8]:
df.drop("Customer ID",axis = 1,inplace = True)

In [9]:
df.isnull().sum()

Age                       2
Gender                    5
Item Purchased            4
Category                  4
Purchase Amount (USD)     0
Location                  2
Size                      0
Color                     4
Season                    3
Review Rating             2
Subscription Status       2
Shipping Type             0
Discount Applied          7
Promo Code Used           7
Previous Purchases        0
Payment Method            4
Frequency of Purchases    3
dtype: int64

In [10]:
df['Age'].fillna(df['Age'].median(), inplace = True)

In [11]:
df["Gender"].fillna(df['Gender'].mode, inplace = True)

In [12]:
df['Item Purchased'].fillna(df['Item Purchased'].bfill, inplace = True)

In [13]:
df['Item Purchased']

0         Blouse
1        Sweater
2          Jeans
3        Sandals
4         Blouse
          ...
2677       Scarf
2678    Sneakers
2679       Shirt
2680     T-shirt
2681      Gloves
Name: Item Purchased, Length: 2682, dtype: object

In [14]:
df["Category"].fillna(df["Category"].mode()[0],inplace = True)

In [15]:
df['Location'].fillna(df['Location'].mode()[0],inplace = True)

In [16]:
df['Size'].isna().sum()

0

In [17]:
df['Color'].fillna(df['Color'].mode()[0],inplace = True)

In [18]:
df['Season'].fillna(df['Season'].mode()[0],inplace = True)

In [19]:
df['Review Rating'].fillna(df['Review Rating'].median(),inplace = True)

In [20]:
df['Subscription Status'].fillna(df['Subscription Status'].mode()[0],inplace = True)

In [21]:
df['Shipping Type'].isnull().sum()

0

In [22]:
df['Discount Applied'].fillna(df['Discount Applied'].mode().sum(), inplace = True)

In [23]:
df['Frequency of Purchases'].fillna(df['Frequency of Purchases'].mode().sum(), inplace = True)

In [24]:
df['Promo Code Used'].fillna(df['Promo Code Used'].mode()[0],inplace = True)

In [25]:
df['Payment Method'].fillna(df['Payment Method'].mode()[0],inplace = True)

In [26]:
df.isnull().sum()

Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [27]:
#outliers for age

In [28]:
df['Age']

0        55.0
1        19.0
2        50.0
3        21.0
4       145.0
        ...
2677     70.0
2678     24.0
2679     67.0
2680     24.0
2681     62.0
Name: Age, Length: 2682, dtype: float64

In [29]:
df['Age'] = np.where(((df['Age']<0)|(df['Age']>100)),40,df['Age'])
df['Age']

0       55.0
1       19.0
2       50.0
3       21.0
4       40.0
        ...
2677    70.0
2678    24.0
2679    67.0
2680    24.0
2681    62.0
Name: Age, Length: 2682, dtype: float64

In [30]:
d = (df['Review Rating']< 0) | (df['Review Rating']> 5)

In [31]:
df['Review Rating'] = np.where(d,df['Review Rating'].median(),df['Review Rating'])

In [32]:
df.columns

Index(['Age', 'Gender', 'Item Purchased', 'Category', 'Purchase Amount (USD)',
       'Location', 'Size', 'Color', 'Season', 'Review Rating',
       'Subscription Status', 'Shipping Type', 'Discount Applied',
       'Promo Code Used', 'Previous Purchases', 'Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [33]:
#duplicate values

In [34]:
df[df.duplicated()]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
2583,63.0,Male,Boots,Footwear,21,Texas,L,Gray,Summer,3.0,No,Express,No,No,4,Credit Card,Quarterly
2584,47.0,Male,Jacket,Outerwear,97,Mississippi,M,Silver,Spring,3.2,No,2-Day Shipping,No,Yes,16,Cash,Weekly
2585,42.0,Male,Backpack,Accessories,63,Texas,L,Pink,Winter,3.8,No,Standard,No,No,34,Credit Card,Monthly
2586,41.0,Male,Jacket,Outerwear,60,Virginia,M,Red,Fall,2.7,No,Standard,No,No,11,Debit Card,Every 3 Months
2587,53.0,Male,<bound method NDFrame.bfill of 0 Blous...,Footwear,52,New Hampshire,XL,Peach,Fall,3.0,No,Store Pickup,No,No,30,Debit Card,Fortnightly
2588,29.0,Male,Shoes,Footwear,32,Minnesota,M,Maroon,Winter,4.1,No,Next Day Air,No,No,40,Debit Card,Annually
2589,61.0,Male,Belt,Accessories,48,Maryland,XL,Purple,Spring,3.2,No,2-Day Shipping,No,No,13,Credit Card,Annually
2590,69.0,Male,Jewelry,Accessories,25,Vermont,M,Maroon,Summer,4.5,No,Store Pickup,Yes,No,28,Venmo,Every 3 Months
2591,51.0,Male,Jewelry,Accessories,68,Kansas,M,Gray,Summer,4.3,No,Store Pickup,No,No,49,Debit Card,Bi-Weekly
2592,24.0,Male,Pants,Clothing,74,Idaho,M,Gray,Fall,3.5,No,Standard,No,Yes,23,Credit Card,Weekly
2593,24.0,Male,T-shirt,Clothing,88,Montana,XL,Magenta,Fall,3.1,No,Standard,Yes,No,4,Bank Transfer,Quarterly
2594,70.0,Male,Shorts,Clothing,23,Oklahoma,L,Cyan,Spring,3.9,No,Standard,No,No,17,PayPal,Fortnightly
2595,49.0,Male,Hoodie,Clothing,32,California,M,Silver,Fall,2.7,No,Express,No,No,24,PayPal,Fortnightly
2596,48.0,Male,Belt,Accessories,71,Mississippi,S,Green,Winter,4.0,No,Free Shipping,No,No,21,Debit Card,Every 3 Months
2597,58.0,Male,Boots,Footwear,62,California,M,Violet,Spring,2.7,No,Next Day Air,No,No,17,Debit Card,Bi-Weekly
2598,32.0,Male,Hoodie,Clothing,20,New York,L,Magenta,Spring,2.7,No,Free Shipping,No,No,22,Debit Card,Quarterly
2668,51.0,Male,Backpack,Accessories,94,Missouri,M,Olive,Spring,3.1,Yes,Express,Yes,Yes,15,Cash,Quarterly
2669,51.0,Male,Jacket,Outerwear,25,New York,M,Magenta,Fall,4.3,Yes,Free Shipping,Yes,Yes,34,Credit Card,Monthly
2670,38.0,Male,Boots,Footwear,88,Washington,M,Lavender,Summer,3.9,Yes,Next Day Air,Yes,Yes,41,Credit Card,Fortnightly
2671,59.0,Male,Scarf,Accessories,78,South Carolina,M,Black,Fall,3.2,Yes,2-Day Shipping,Yes,Yes,41,Credit Card,Monthly
2672,57.0,Male,Jewelry,Accessories,45,Utah,M,Turquoise,Winter,4.8,Yes,Standard,Yes,Yes,39,Credit Card,Fortnightly
2673,54.0,Male,<bound method NDFrame.bfill of 0 Blous...,Accessories,73,Idaho,XL,Green,Summer,3.8,Yes,Express,Yes,Yes,32,Cash,Weekly
2674,25.0,Male,Dress,Clothing,61,Pennsylvania,S,Teal,Summer,3.3,Yes,Next Day Air,Yes,Yes,29,Venmo,Monthly
2675,69.0,Male,Blouse,Clothing,22,Missouri,S,Beige,Fall,4.3,Yes,Free Shipping,Yes,Yes,15,Bank Transfer,Annually
2676,57.0,Male,Hat,Accessories,38,Nebraska,L,Magenta,Spring,2.7,Yes,Express,Yes,Yes,33,Venmo,Annually
2677,70.0,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
2678,24.0,Male,Sneakers,Footwear,100,Arizona,M,Yellow,Fall,4.0,Yes,Store Pickup,Yes,Yes,35,Cash,Bi-Weekly
2679,67.0,Male,Shirt,Clothing,64,Hawaii,M,Silver,Winter,3.0,Yes,Standard,Yes,Yes,25,PayPal,Weekly
2680,24.0,Male,T-shirt,Clothing,55,Wisconsin,L,Silver,Summer,4.2,Yes,Free Shipping,Yes,Yes,6,Venmo,Fortnightly
2681,62.0,Male,Gloves,Accessories,91,Rhode Island,M,Silver,Summer,2.9,Yes,Express,Yes,Yes,17,Bank Transfer,Bi-Weekly

In [35]:
df.drop_duplicates(inplace = True)

In [36]:
df.duplicated().sum()  #duplicated are deleted

0

In [37]:
#type casting

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2652 entries, 0 to 2667
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     2652 non-null   float64
 1   Gender                  2652 non-null   object
 2   Item Purchased          2652 non-null   object
 3   Category                2652 non-null   object
 4   Purchase Amount (USD)   2652 non-null   int64
 5   Location                2652 non-null   object
 6   Size                    2652 non-null   object
 7   Color                   2652 non-null   object
 8   Season                  2652 non-null   object
 9   Review Rating           2652 non-null   float64
 10  Subscription Status     2652 non-null   object
 11  Shipping Type           2652 non-null   object
 12  Discount Applied        2652 non-null   object
 13  Promo Code Used         2652 non-null   object
 14  Previous Purchases      2652 non-null   int64
 15  Payment Method          2652 non-null   object
 16  Frequency of Purchases  2652 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 372.9+ KB

In [39]:
df['Age'] = df['Age'].astype('float64')
df['Review Rating'] = df['Review Rating'].astype('float16')
df['Purchase Amount (USD)'] = df['Purchase Amount (USD)'].astype('int8')
df['Previous Purchases'] = df['Previous Purchases'].astype('int8')

In [40]:
df.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,40.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [41]:
#variance

In [42]:
# if var = o there is no change in data

In [43]:
df['Age'].var()

234.81036610448376

In [44]:
df['Item Purchased'].nunique()

26

In [45]:
df['Location'].nunique()

50

In [46]:
df['Size'].nunique()

4

In [47]:
df['Color'].nunique()

25

In [48]:
df['Season'].nunique()

4

In [49]:
df['Shipping Type'].nunique()

6

In [50]:
df['Shipping Type'].nunique()

6

In [51]:
df['Previous Purchases'].var()

206.5995283091329

In [52]:
df['Review Rating'].var()

0.5083

In [53]:
df.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,40.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [54]:
df['Category'].nunique()

4

In [55]:
#dummy variable

In [56]:
pd.get_dummies(df['Category'], dtype = int)

      Accessories  Clothing  Footwear  Outerwear
0               0         1         0          0
1               0         1         0          0
2               0         1         0          0
3               0         0         1          0
4               0         1         0          0
...           ...       ...       ...        ...
2663            0         0         1          0
2664            0         1         0          0
2665            1         0         0          0
2666            0         1         0          0
2667            0         0         1          0

[2652 rows x 4 columns]

In [57]:
pd.get_dummies(df['Size'],dtype = int)

      L  M  S  XL
0     1  0  0   0
1     1  0  0   0
2     0  0  1   0
3     0  1  0   0
4     0  1  0   0
...  .. .. ..  ..
2663  0  1  0   0
2664  0  1  0   0
2665  0  1  0   0
2666  1  0  0   0
2667  0  1  0   0

[2652 rows x 4 columns]

In [58]:
pd.get_dummies(df['Season'],dtype = int)

      Fall  Spring  Summer  Winter
0        0       0       0       1
1        0       0       0       1
2        0       1       0       0
3        0       1       0       0
4        0       1       0       0
...    ...     ...     ...     ...
2663     0       0       1       0
2664     0       1       0       0
2665     1       0       0       0
2666     0       0       1       0
2667     0       0       1       0

[2652 rows x 4 columns]

In [59]:
pd.get_dummies(df['Subscription Status'],dtype = int)

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

In [60]:
pd.get_dummies(df['Discount Applied'],dtype = int)

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

In [61]:
pd.get_dummies(df['Promo Code Used'],dtype = int)

      No  Yes
0      0    1
1      0    1
2      0    1
3      0    1
4      0    1
...   ..  ...
2663   1    0
2664   1    0
2665   1    0
2666   1    0
2667   1    0

[2652 rows x 2 columns]

In [74]:
df

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,40.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,60.0,Male,Shoes,Footwear,58,South Carolina,M,Red,Summer,3.300781,No,2-Day Shipping,No,No,25,Debit Card,Annually
2664,51.0,Male,Pants,Clothing,84,Illinois,M,Gray,Spring,3.900391,No,Next Day Air,No,No,14,PayPal,Bi-Weekly
2665,23.0,Male,Gloves,Accessories,21,Minnesota,M,Magenta,Fall,3.900391,No,Store Pickup,No,No,14,Bank Transfer,Fortnightly
2666,20.0,Male,Socks,Clothing,35,Oregon,L,Maroon,Summer,4.199219,No,Standard,No,No,46,Credit Card,Every 3 Months
2667,51.0,Male,Sneakers,Footwear,43,Tennessee,M,Cyan,Summer,4.601562,No,Store Pickup,No,No,27,PayPal,Quarterly

In [73]:
#binning

In [75]:
def status(n):
    if n == 'Yes':
        return 1
    else:
        return 0

In [76]:
df['Subscription Status'].apply(status)

0       1
1       1
2       1
3       1
4       1
       ..
2663    0
2664    0
2665    0
2666    0
2667    0
Name: Subscription Status, Length: 2652, dtype: int64

In [77]:
df['Discount Applied'].apply(status)

0       1
1       1
2       1
3       1
4       1
       ..
2663    0
2664    0
2665    0
2666    0
2667    0
Name: Discount Applied, Length: 2652, dtype: int64

In [78]:
df['Promo Code Used'].apply(status)

0       1
1       1
2       1
3       1
4       1
       ..
2663    0
2664    0
2665    0
2666    0
2667    0
Name: Promo Code Used, Length: 2652, dtype: int64

In [62]:
#scaling

In [63]:
df

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55.0,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.099609,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19.0,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.800781,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50.0,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.099609,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21.0,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,40.0,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.699219,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,60.0,Male,Shoes,Footwear,58,South Carolina,M,Red,Summer,3.300781,No,2-Day Shipping,No,No,25,Debit Card,Annually
2664,51.0,Male,Pants,Clothing,84,Illinois,M,Gray,Spring,3.900391,No,Next Day Air,No,No,14,PayPal,Bi-Weekly
2665,23.0,Male,Gloves,Accessories,21,Minnesota,M,Magenta,Fall,3.900391,No,Store Pickup,No,No,14,Bank Transfer,Fortnightly
2666,20.0,Male,Socks,Clothing,35,Oregon,L,Maroon,Summer,4.199219,No,Standard,No,No,46,Credit Card,Every 3 Months
2667,51.0,Male,Sneakers,Footwear,43,Tennessee,M,Cyan,Summer,4.601562,No,Store Pickup,No,No,27,PayPal,Quarterly

In [64]:
df['Age'].median(), df['Age'].mean()

(44.0, 44.09049773755656)

In [65]:
def normalization(x):
    n = (x - df['Age'].min())/ (df['Age'].max() - df['Age'].min())
    return n

In [66]:
df['Age'].apply(normalization)

0       0.711538
1       0.019231
2       0.615385
3       0.057692
4       0.423077
          ...
2663    0.807692
2664    0.634615
2665    0.096154
2666    0.038462
2667    0.634615
Name: Age, Length: 2652, dtype: float64

In [67]:
def normalization(x):
    n = (x - df['Purchase Amount (USD)'].min())/ (df['Purchase Amount (USD)'].max() - df['Purchase Amount (USD)'].min())
    return n

In [68]:
df['Purchase Amount (USD)'].apply(normalization)

0       0.4125
1       0.5500
2       0.6625
3       0.8750
4       0.3625
         ...
2663    0.4750
2664    0.8000
2665    0.0125
2666    0.1875
2667    0.2875
Name: Purchase Amount (USD), Length: 2652, dtype: float64

In [69]:
def normalization(x):
    n = (x - df['Review Rating'].min())/ (df['Review Rating'].max() - df['Review Rating'].min())
    return n

In [70]:
df['Review Rating'].apply(normalization)

0       0.239844
1       0.520312
2       0.239844
3       0.400000
4       0.079687
          ...
2663    0.320312
2664    0.560156
2665    0.560156
2666    0.679688
2667    0.840625
Name: Review Rating, Length: 2652, dtype: float64

In [71]:
def normalization(x):
    n = (x - df['Previous Purchases'].min())/ (df['Previous Purchases'].max() - df['Previous Purchases'].min())
    return n

In [72]:
df['Previous Purchases'].apply(normalization)

0       0.265306
1       0.020408
2       0.448980
3       0.979592
4       0.612245
          ...
2663    0.489796
2664    0.265306
2665    0.265306
2666    0.918367
2667    0.530612
Name: Previous Purchases, Length: 2652, dtype: float64